<html>
    <head>
    </head>
    <body>
        {% if valores %}
         {{valores}}
        {% endif %}
        <form action="http://127.0.0.1:5000/usuario{{ '?usuario={}'.format(valores) if valores else '' }}" method='POST'>
            <label for="nombre">nombre</label>
            <input type="text" id="nombre" name="nombre"><br><br>
            <label for="edad">edad</label>
            <input type="text" id="edad" name="edad"><br><br>
            <input type="submit" value="crear">
          </form>
    </body>
</html>
