<html>
    <head>
        <script>
            function ejecutaforma(id){
                window.location.href = "http://127.0.0.1:5000/usuario?usuario="+id;
            }
        </script>
    </head>
    <body>
        index
        <img src="static/audi.jpg" />
        {{valores.titulo}}
        <ul>
        {% for persona in valores.usuarios -%}
            <li onclick="ejecutaforma({{persona.id}})"> {{persona.id}} {{ persona.nombre }}</li>
        {% endfor %}
        </ul>
    </body>
</html>
